<?xml version="1.0"?>
<config>
    <modules>
        <Aligent_NewRelicFix>
            <version>0.1.0</version>
        </Aligent_NewRelicFix>
    </modules>
    <global>
        <models>
            <aligent_newrelicfix>
                <class>Aligent_NewRelicFix_Model</class>
                <resourceModel>aligent_newrelicfix_resource</resourceModel>
            </aligent_newrelicfix>
            <aligent_newrelicfix_resource>
                <class>Aligent_NewRelicFix_Model_Resource</class>
            </aligent_newrelicfix_resource>
        </models>
        <helpers>
            <aligent_newrelicfix>
                <class>Aligent_NewRelicFix_Helper</class>
            </aligent_newrelicfix>
        </helpers>
        <events>
            <controller_action_predispatch_adminhtml_system_email_template_defaultTemplate>
                <observers>
                    <aligent_newrelicfix_observer>
                        <class>aligent_newrelicfix/observer</class>
                        <method>removeRumCode</method>
                    </aligent_newrelicfix_observer>
                </observers>
            </controller_action_predispatch_adminhtml_system_email_template_defaultTemplate>
            <adminhtml_controller_action_predispatch_start>
                <observers>
                    <aligent_newrelicfix>
                        <class>aligent_newrelicfix/observer</class>
                        <method>adminhtmlControllerActionPredispatchStart</method>
                    </aligent_newrelicfix>
                </observers>
            </adminhtml_controller_action_predispatch_start>
        </events>

    </global>
    <frontend>
        <routers>
            <aligent_newrelicfix>
                <use>standard</use>
                <args>
                    <module>Aligent_NewRelicFix</module>
                    <frontName>aligent_new_relic_fix</frontName>
                </args>
            </aligent_newrelicfix>
        </routers>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <aligent_newrelicfix>
                            <title>Aligent New Relic Fix</title>
                            <children>
                                <aligent_newrelicfix translate="title" module="aligent_newrelicfix">
                                    <title>Aligent new relic fix</title>
                                </aligent_newrelicfix>
                            </children>
                        </aligent_newrelicfix>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <aligent_newrelicfix>
                                            <title>Aligent new relic fix</title>
                                            <sort_order>10</sort_order>
                                        </aligent_newrelicfix>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <aligent_newrelicfix>
            <trigger_error>
                <enable>1</enable>
            </trigger_error>
        </aligent_newrelicfix>
    </default>
</config>